<div class="col-md-12" ng-controller="AdminmenuCtrl">

    <div class="col-md-4">
        <a href="#/admin/events">
            <img src="img/events.jpeg" class="img-rounded">
            <p>Configuración de Eventos</p>
        </a>
    </div>

    <div class="col-md-4">
        <a href="#/admin/users">
            <img src="img/users.jpeg" class="img-rounded">
            <p>Administración de Usuários</p>
        </a>
    </div>

    <div class="col-md-4">
        <a href="#/admin/photos">
            <img src="img/photos.jpeg" class="img-rounded">
            <p>Administración de Photos</p>
        </a>
    </div>


</div>
