<div class="col-md-12" ng-controller="AboutCtrl">

    <h1>¿Qué es la <em>Comunidad de Padres</em>?</h1>
    <hr/>
    
    <p class="lead">
    Acá va que hacemos y quienes somos... Ya tenemos letra?
    </p>

    <h1>¿Cómo participo?</h1>
    <hr/>

    <p class="lead">
        Estamos siempre buscando gente que nos ayude a tener ideas, organizar eventos, etc...
    </p>
    <p class="lead">
        Las formas de participar son:
        <ul>
            <li><a ng-href="#/register">Inscribíte</a> y recibí el newsletter para enterarte de las actividades!</li>
            <li>Participá de la lista de discusión (enlace a la lista...)!</li>
            <li>Nos reunimos todos los Miércoles desde las 9:00 hasta las 10:00 en Puerta Abierta. Traé facturas! :-)</li>
        </ul>
    </p>



</div>
